<div class="container">

  <div class="header">

    <div class="logo">
      <img src="logo.png" alt="Logo do Forkify" />
    </div>

    <div class="titulo">
      <h1>Forkify</h1>
    </div>

    <div class="busca">

      <input type="text" #searchInput placeholder="Buscar receita..." />

      <button (click)="buscarReceitas(searchInput.value)">
        Buscar
      </button>

    </div>

  </div>

  @if (loading()) {
    <div class="spinner">
      <div class="loader"></div>
    </div>
  }

  <div class="receitas">

    @for (receita of receitas(); track receita.id) {

    <div class="cards">
      <a href="/receita/{{ receita.id }}">
        <img [src]="receita.image_url" [alt]="receita.title" loading="lazy" />
        <h3>{{ receita.title }}</h3>
        <p>{{ receita.publisher }}</p>
      </a>

    </div>
    }

  </div>
</div>
