<div class="container">
  <div class="fechar-dialog">
    <button (click)="fecharDialog()">X</button>

  </div>

  <form>
    <div class="form-receita">

      <div class="titulo-receita">
        <h2>Add a new recipe:</h2>
      </div>

      <div class="form-receita-container">

        <p>Title:</p>
        <input type="text" placeholder="carrot cake" [formField]="receitaForm.title">
        @if(receitaForm.title().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.title().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

        <p>Source Url: </p>
        <input type="text" placeholder="https://sourceimage.com.br" [formField]="receitaForm.source_url">
        @if(receitaForm.source_url().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.source_url().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

        <p>Image Url:</p>
        <input type="text" placeholder="https://image.jpeg (support all extension)" [formField]="receitaForm.image_url">
        @if(receitaForm.image_url().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.image_url().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

        <p>Publisher:</p>
        <input type="text" placeholder="Malenia" [formField]="receitaForm.publisher">
        @if(receitaForm.publisher().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.publisher().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

        <p>Cooking Time:</p>
        <input type="number" [formField]="receitaForm.cooking_time">
        @if(receitaForm.cooking_time().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.cooking_time().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

        <p>Servings:</p>
        <input type="number" [formField]="receitaForm.servings">
        @if(receitaForm.servings().invalid()){
        <p class="erros"> Title has validation errors </p>
        <ul>
          @for (error of receitaForm.servings().errors(); track error) {
          <li> {{ error.message }} </li>
          }
        </ul>
        }

      </div>
    </div>

    <div class="form-ingrediente-container">
      <div class="titulo-ingrediente">
        <h2>Add ingredients:</h2>
      </div>

      <div class="form-ingrediente">
        <div class="lista-ingrediente-container">
          @for (ingredientes of receitaForm.ingredients; track $index) {

          <div class="lista-ingrediente">

            <p>Quantity:</p>
            <input type="number" [formField]="ingredientes.quantity">
            @if(ingredientes.quantity().errors()){
            <p class="erros"> Title has validation errors </p>
            <ul>
              @for (error of ingredientes.quantity().errors(); track error) {
              <li> {{ error.message }} </li>
              }
            </ul>
            }

            <p>Unit:</p>
            <input type="text" placeholder="Pounds" [formField]="ingredientes.unit">
            @if(ingredientes.unit().errors()){
            <p class="erros"> Title has validation errors </p>
            <ul>
              @for (error of ingredientes.unit().errors(); track error) {
              <li> {{ error.message }} </li>
              }
            </ul>
            }

            <p>Description:</p>
            <input type="text" placeholder="sugar" [formField]="ingredientes.description">
            @if(ingredientes.description().errors()){
            <p class="erros"> Title has validation errors </p>
            <ul>
              @for (error of ingredientes.description().errors(); track error) {
              <li> {{ error.message }} </li>
              }
            </ul>
            }
          </div>
          }
        </div>
      </div>
      <button type="button" (click)="adicionarIngrediente()">
        Add more ingredients
      </button>
    </div>

    <div class="salvar-receita">
      <button (click)="criarReceita()" (keyup.enter)="criarReceita()" [disabled]="receitaForm().invalid()">
        Save Recipe
      </button>

    </div>

  </form>

</div>
