<div class="container">
  <div class="fechar-dialog">
    <button (click)="fecharDialog()">X</button>

  </div>

  <form>
    <div class="form-receita">


      <h2 class="titulo-form">Add a new recipe:</h2>



      <p class="texto-form">Title:</p>
      <input type="text" placeholder="carrot cake" inputmode="text" [formField]="receitaForm.title">
      @if(receitaForm.title().invalid()){
      @for (error of receitaForm.title().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }

      <p class="texto-form">Source Url: </p>
      <input type="url" inputmode="url" placeholder="https://sourceimage.com.br" [formField]="receitaForm.source_url">
      @if(receitaForm.source_url().invalid()){
      @for (error of receitaForm.source_url().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }

      <p class="texto-form">Image Url:</p>
      <input type="url" inputmode="url" placeholder="https://image.jpeg (support all extension)"
        [formField]="receitaForm.image_url">
      @if(receitaForm.image_url().invalid()){
      @for (error of receitaForm.image_url().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }

      <p class="texto-form">Publisher:</p>
      <input type="text" placeholder="Malenia" inputmode="text" [formField]="receitaForm.publisher">
      @if(receitaForm.publisher().invalid()){
      @for (error of receitaForm.publisher().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }

      <p class="texto-form">Cooking Time:</p>
      <input type="number" [formField]="receitaForm.cooking_time">
      @if(receitaForm.cooking_time().invalid()){
      @for (error of receitaForm.cooking_time().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }

      <p class="texto-form">Servings:</p>
      <input type="number" [formField]="receitaForm.servings">
      @if(receitaForm.servings().invalid()){
      @for (error of receitaForm.servings().errors(); track error) {
      <p class="mesagem-erro"> {{ error.message }} </p>
      }
      }
    </div>

    <div class="form-ingrediente-container">

      <h2 class="titulo-form">Add ingredients:</h2>


      <div class="form-ingrediente">
        <div class="lista-ingrediente-container">
          @for (ingredientes of receitaForm.ingredients; track $index) {

          <div class="lista-ingrediente">

            <p class="texto-form">Quantity:</p>
            <input type="number" [formField]="ingredientes.quantity">
            @if(ingredientes.quantity().errors()){
            @for (error of ingredientes.quantity().errors(); track error) {
            <p class="mesagem-erro"> {{ error.message }} </p>
            }
            }

            <p class="texto-form">Unit:</p>
            <input type="text" placeholder="Pounds" inputmode="text" [formField]="ingredientes.unit">
            @if(ingredientes.unit().errors()){
            @for (error of ingredientes.unit().errors(); track error) {
            <p class="mesagem-erro"> {{ error.message }} </p>
            }
            }

            <p class="texto-form">Description:</p>
            <input type="text" placeholder="sugar" [formField]="ingredientes.description">
            @if(ingredientes.description().errors()){
            @for (error of ingredientes.description().errors(); track error) {
            <p class="mesagem-erro"> {{ error.message }} </p>
            }
            }
          </div>
          }
        </div>
      </div>
      <button type="button" (click)="adicionarIngrediente()">
        Add more ingredients
      </button>
    </div>

    <div class="salvar-receita">
      <button (click)="criarReceita()" (keyup.enter)="criarReceita()" [disabled]="receitaForm().invalid()">
        Save Recipe
      </button>

    </div>

  </form>

</div>
