/* You can add global styles to this file, and also import other style files */
@use 'theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Chewy&family=DynaPuff:wght@400..700&family=Schoolbell&family=Sniglet:wght@400;800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--cor-fundo);
}

h1 {
  font-family: "DynaPuff", system-ui;
  color: var(--cor-primaria);
}

h2 {
  font-family: "Chewy", system-ui;
  color: var(--cor-secundaria);
}

h3 {
  font-family: "Schoolbell", cursive;
  font-size: 20px;
  color: var(--cor-quaternaria);
  font-weight: 200;
}

p {
  font-family: "Cause", cursive;
  color: var(--cor-texto);
}

button {
  font-family: "Cause", cursive;
}

.titulo-form {
  font-family: "Sour Gummy", sans-serif;
}

.texto-form {
  font-family: "Sniglet", system-ui;
}

.spinner {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);

  z-index: 99999;

  animation: fadeIn 0.2s ease;

  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
  }

  .loader,
  .loader:before,
  .loader:after {
    background:
      radial-gradient(closest-side at 50% 12.5%,
        #e47a00 96%, #0000) 50% 0/20% 80% repeat-y,
      radial-gradient(closest-side at 12.5% 50%,
        #e47a00 96%, #0000) 0 50%/80% 20% repeat-x;
  }

  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }

  .loader:after {
    transform: rotate(60deg);
  }

  @keyframes l26 {
    100% {
      transform: rotate(1turn)
    }
  }
}


.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
}
