/* You can add global styles to this file, and also import other style files */
@use 'theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Chewy&family=DynaPuff:wght@400..700&family=Schoolbell&family=Sniglet:wght@400;800&display=swap');



body{
  background: var(--cor-fundo);
}

h1{
  font-family: "DynaPuff", system-ui;
  color: var(--cor-primaria);
}

h2{
    font-family: "Chewy", system-ui;
    color: var(--cor-secundaria);
}

h3{
  font-family: "Schoolbell", cursive;
  font-size: 20px;
  color: var(--cor-quaternaria);
  font-weight: 200;
}

p{
  font-family: "Cause", cursive;
  color: var(--cor-texto);
}


.spinner {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);

    z-index: 99999;

    animation: fadeIn 0.2s ease;

    .loader {
        width: 64px;
        height: 64px;

        border-radius: 50%;

        border: 4px solid rgba(209, 114, 25, 0.15);
        border-top: 4px solid var(--primary-color);

        animation: spin 0.7s linear infinite;

    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }

    to {
        opacity: 1;
        backdrop-filter: blur(6px);
    }
}

