:root {
  --cor-primaria: #ff4d00;
  --cor-secundaria:  #e87102;
  --cor-terciaria: #af3c03;
  --cor-quaternaria: #432704;
  --cor-fundo: #f9f9f9;
  --cor-texto: #333;
  --cor-texto-claro: #666;
  --cor-borda: #ddd;
  --cor-hover: #eeeeee;
}
