:root {
  --cor-primaria: #ff4d00;
  --cor-secundaria: #ff6f00;
  --cor-terciaria: #af3c03;
  --cor-quaternaria: #432704;
  --cor-fundo: #f5f5f5;
  --cor-texto: #333;
  --cor-texto-claro: #777;
  --cor-borda: #ddd;
  --cor-hover: #eeeeee;
}
